<div class="section" id="about">
    <div class="container">
      <div class="card" data-aos="fade-up" data-aos-offset="10">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">About</div>
              <p>Hi I'm <strong>Shivaratnakumar </strong>.I am a Full Stack Developer, expertise with Angular8 ,Django,Python, Java and front end . Done few live projects and portfolio work in above. Graduated with 75% agreegate.</p>


              <p>
                Always willing learn new things, explore new technologies. Love building web and mobile applications.
                Quick learner and fast problem solver.
              </p> 
                
          
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">Basic Information</div>
              <div class="row">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Date of Birth:</strong>
                </div>
                <div class="col-sm-8">May 25, 1995</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Email:</strong>
                </div>
                <div class="col-sm-8">Shivaratnakumarpatil@gmail.com</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Phone:</strong>
                </div>
                <div class="col-sm-8">+91 8050372422,6363746981</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Address:</strong>
                </div>
                <div class="col-sm-8">At Kamatenatti,Post Karoshi, PIN 591226, Tq Chikodi, Dist Belagavi, State Karnataka
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Language:</strong>
                </div>
                <div class="col-sm-8">Kannada, English, Hindi</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>