<div class="section" id="projects">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Projects</div>
            
     <div class="row">
    
    
       <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/skill2.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Employee Skill Tracking Tool</h4>
          <h5 class="card-text"><b>Technology :</b> 
            <p>HTML5, Angular JS, Bootstrap3, Java, PgSQL </p></h5>          
          The tool tracks the skill details of employees for an organization. 
          For More detail, view CV.
        </div>
      </div>
    </div>
    </div>
    
    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top"src="assets/images/det2.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Data Extraction Tool</h4>
           <h5 class="card-text"><b>Technology :</b> <p>HTML5, Angular JS, Bootstrap3, Java, PgSQL</p> </h5>
            This tool produces airport scanners,printers data into a readable file (PDF and CSV). Supports
            Multilanguage compatibility.

            For More detail, view CV.

        </div>
    </div>
    </div>
      </div>
    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/Net.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Network Diagnostic Tool</h4>
          <h5 class="card-text"><b>Technology :</b><p> HTML5, Angular 8, Bootstrap 4, Python django, PgSQL</p></h5>
          This Tool Monitors the network devices and provide network health.

          For More detail, view CV.

        </div>
      </div>
    </div>
    </div>
    
    
     
      
    
    
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/ccu.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Connectivity Control Unit </h4>
          <h5 class="card-text"><b>Technology :</b> 
            <p> Embedded C, Python </p></h5>          
          The tool tracks the vehicle details such as speed, direction, position etc. 
          For More detail, view CV.
        </div>
      </div>
    </div>
    </div>

    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
      <div class="blog-entry">
    <div class="card" >
      <img class="card-img-top" src="assets/images/ac.png" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">G3PAC AC Solutions </h4>
        <h5 class="card-text"><b>Technology :</b> 
          <p> Embedded C, Python, ThingsBoard </p></h5>          
        The project is all about using <b>Protobuffer</b> to optimize the data transfer among devices.
        For More detail, view CV.
      </div>
    </div>
  </div>
  </div>

    </div>
    </div>
  </div>